body {
    position: relative;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    margin: 0;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    color: #03400d;
}

h1 {
    font-family: 'Bangers', cursive;
}

h2 {
    font-family: 'Bangers', cursive;
}

#title {
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    color: #ebfaed;
    background-color: #03400d;
}

    
@media only screen and (max-width: 480px) {
    #title {
        font-size: 30px;   
    }
}

#title > h1 {
    margin: 30px 15px;
}

.floating-heads {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.floating-heads > img {
    margin: 30px 20px;
    height: 30px;
}

#about-me {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#about-me > h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
}

#the-deets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px;
}

.deet-card {
    width: 300px;
    padding: 20px;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.deet-card > h2 {
    margin: 0;
}

.deet-card > ul > li {
    margin-bottom: 5px;
}

#footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 30px 0;
    background-color: #ebfaed;
}

a {
    color: #03400d;
}

a:hover {
	color: #bdbdbd;
}
